<div class="container">
    <h1>Coco's bar</h1>
    <h2>Voici la liste de nos cocktails</h2>
</div>
<div class="container">
<ul style="list-line: none">
    <% @cocktails.each do |cocktail| %>
    <li>
    <h3><%= cocktail.name %> - <%= link_to 'Voir', cocktail_path(cocktail) %></h3>
    </li>
    <% end %>
</ul>
</div>
<div class="container">
<ul>
    <li>
    <%= link_to 'Ajouter un cocktail', new_cocktail_path %>
    </li>
</ul>
</div>
