<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "mainlogo.png", alt: "Tom's tiki logo"%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'Voir', cocktails_path, class:"navbar-wagon-item navbar-wagon-link", class:"btn btn-primary"%>
    <%= link_to 'Ajouter', new_cocktail_path, class:"navbar-wagon-item navbar-wagon-link", class:"btn btn-success"%>
  </div>
</div>